html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  font-size: 1.6rem;
}

.App {
  margin: 0;
  padding: 0;
}

body,
button,
select{
  font-family: 'Montserrat',sans-serif;
}

.grid-container{
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100vh;
}

header{
  grid-area: header;
  background-color: #212529;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

main{
  grid-area : main;
}

footer{
  grid-area: footer;
  background-color:#212529;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  display: flex;
  flex-wrap: wrap;
}

.left-sidebar{
  flex: 20% ;
}

.main{
  flex: 80%;
}

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  padding: 0;
  margin: 0 1rem;
  list-style-type: none;
  justify-content: start;
}



.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
}

.product:hover{
  box-shadow: 0 5px 5px;
  transition: all 0.2s ease-in-out;
}

.product img{
  width: 20rem;
  height: 25rem;
  max-width: 20rem;
  max-height: 25rem;
}

.product-details{
  display: flex;
  justify-content: space-between;
}

.btn-primary{
  font-size: 1.5rem;
  height: 4rem;
  border: none;
  background-color: #212529;
  color: aliceblue;
  font-size: 1.5rem;
}

.btn-primary:hover{
  font-size: 1.8rem;
  transition: all 0.1s ease-in-out;
}


.fa-rupee-sign{
  font-size: 1.5rem;
}

.top-filter{
  display: flex;
  padding: 1rem;
  margin: 1rem;
  justify-content: space-between;
}

.left-filter{
  padding: 1rem;
  margin: 1rem;
}

.cart{
  position: absolute;
  height: fit-content;
  background-color:#212529;
  width: 450px;
  top: 5rem;
  right: -100%;
  color: aliceblue;
  
}

.cart.active{
  right: 0;
  transition: all 0.1s ease-in-out;
}

.cart-header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  border-bottom: 0.1rem solid #495057;
}

.cart-icon {
  margin: 1rem;
  font-size: 3rem;
}

.cart-title{
  font-size: 2rem;
}

.cart-count{
  background-color: yellow;
  color: black;
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  border-radius: 50%;
}

.header-cart-count{
  background-color: yellow;
  color: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 22px;
  right: 13px;
}

.header-cart-count div{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.cart-items{
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.cart-items img{
  width: 5rem
}

.cart-items li{
  display: flex;
}

.cart-items li div{
  padding: .5rem;
}

.cart-items li div:last-child{
  flex:1;
}

.cart-items button{
  height: fit-content;
}

.cart-item{
  display: flex;
}
.right{
  text-align: right;
}

.total{
  display: flex;
  flex-direction: column;
  border-top: 0.1rem solid #495057;
  min-height: 200px;
}

.subtotal{
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.checkout{
  width: 60%;
  margin: 0 auto;
  background-color: #e09f3e;
  border: none;
  height: 5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.checkout:hover{
  background-color: #f8961e;
}




